{% extends "admin/_base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center font-bold text-lg">Inventory Logs</h1>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    User
                </th>
                <th scope="col" class="px-6 py-3">
                    Timestamp
                </th>
                <th scope="col" class="px-6 py-3">
                    Object
                </th>
            </tr>
        </thead>
        <tbody>
            {% for log_entry in log_entries %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">
                        {% if log_entry.action_flag == 1 %}
                            Added
                        {% elif log_entry.action_flag == 2 %}
                            Changed
                        {% elif log_entry.action_flag == 3 %}
                            Deleted
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        {{ log_entry.user.username }}
                    </td>
                    <td class="px-6 py-4">
                        {{ log_entry.action_time }}
                    </td>
                    <td class="px-6 py-4">
                        {{ log_entry.object_repr }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="px-6 py-4 text-center">No actions found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}