{% extends "dashboard/_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-12">
    <!-- About Section Title -->
    <h1 class="text-3xl font-bold mb-2 text-center mt-12">About TUPC Water Dispenser System</h1>
    <p class="text-md font-normal mb-4 text-center">Learn more about our system and its purpose</p>

    <!-- About Section Content -->
    <div class="bg-white p-6 rounded-lg shadow-md dark:bg-gray-800 dark:text-white">
        <h2 class="text-xl font-semibold mb-4">Overview</h2>
        <p class="text-gray-600 dark:text-gray-400 mb-4">
            The TUPC Water Dispenser Refill Alert System provides real-time data on the status of water dispensers across the campus. It enables students to easily check whether a dispenser is filled or empty at any location. Additionally, it allows personnel to monitor and track water consumption through a web application. The system automatically cuts off power to dispensers that are empty. The system provides efficiency for both students and personnel by providing information in the web application. This feature also helps save electricity and reduces potential hazards through its automatic cutoff mechanism.

        </p>
    </div>
</div>

{% endblock content %}
