{% extends "dashboard/_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-12">
    <!-- Title Section -->
    <h1 class="text-3xl font-bold mb-2 text-center mt-12">Meet the Developers</h1>
    <p class="text-md font-normal mb-4 text-center">The team behind the Dispenser Monitoring System</p>

    <!-- Developers List -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-2">
        <!-- Developer 1 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/eJgHcS3.jpg" alt="Developer 1" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">John Essex Angulo</h3>
            </div>
        </div>

        <!-- Developer 2 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/YbZGI2v.jpg" alt="Developer 2" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Mary Moreene Valdez</h3>
            </div>
        </div>

        <!-- Developer 3 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/DWZjWFr.jpg" alt="Developer 3" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">John Radley Maniago</h3>
            </div>
        </div>

        <!-- Developer 4 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/Gnzw1Fu.jpg" alt="Developer 4" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Ma. Janelle Abano</h3>
            </div>
        </div>

        <!-- Developer 5 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/k2TqyT9.jpg" alt="Developer 5" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Mariel Tolentino</h3>
            </div>
        </div>
        <!-- Developer 6 -->
        <div class="bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-white p-6">
            <div class="flex flex-col items-center">
                <img src="https://i.imgur.com/b5etJog.jpg" alt="Developer 5" class="w-32 h-32 rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Sean Ice Lee Alcantara</h3>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
