{% extends "dashboard/_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-12">
    <!-- Added mt-16 for more margin top -->
    <h1 class="text-3xl font-bold mb-2 text-center mt-24">TUPC Water Dispenser System</h1>
    <p class="text-md font-normal mb-4 text-center">View the water level in the campus</p>
</div>

<div class="relative overflow-x-auto mt-12">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 p-2">
        {% for data in devices %}
        <div class="bg-white border-b-4 border-b-blue-600 rounded-lg shadow-md p-4 dark:bg-gray-800 dark:border-gray-700 hover:shadow-lg transition-shadow duration-200">
            <div class="flex flex-row justify-between items-center bg-gray-100 border-b-4 border-b-blue-200 p-2 rounded-t-lg">
                <h3 class="font-medium text-gray-900 dark:text-white">{{ data.device_location }}</h3>
                <div class="fle flex-col">
                    <p class="text-gray-600 dark:text-gray-400 text-sm">
                        <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">
                            {{data.deviceId}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="flex flex-row justify-between items-center bg-gray-100 p-2 rounded-lg mt-2">
                <p class="text-gray-600 dark:text-gray-400 text-sm">
                    Status: 
                    {% if data.status == "LOW" %}
                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Consumed</span>
                    {% else %}
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">OK</span>
                    {% endif %}
                </p>
                <p class="text-gray-600 dark:text-gray-400 text-xs">Consumed: 1</p>
            </div>
            <div class="flex flex-row justify-between items-center bg-gray-100 p-2 rounded-lg mt-2">
                <p class="text-gray-600 dark:text-gray-400 text-xs">{{ data.date_consumed }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
